# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ps\demo1scheduler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
